<ul class="nav nav-sidebar">
    <li><a href="#">Dashboard <span class="sr-only">(current)</span></a></li>
    <li><a href="{% url 'bet_list' %}">My Bets <span class="badge pull-right">8</span></a></li>
    <li><a href="{% url 'event_list' %}">Events <span class="badge pull-right">4</span></a></li>
    <li><a href="#">Profit & Loss <span class="sr-only">(current)</span></a></li>
</ul>
<ul class="nav nav-sidebar">
    <li><a href="#">Strategies</a></li>
    <li><a href="#">Reports</a></li>
    <li><a href="#">Analytics</a></li>
    <li><a href="#">Export</a></li>
</ul>
